<!-- about -->
<div class="about" id="about">
  <div class="container">
    <h2 class="w3_heade_tittle_agile">Welcome to our Cancer Research</h2>
    <p class="sub_t_agileits">Best in service</p>

    <p class="ab">Cancer is a deadly disease that kills people due to late diagnosis. At our cancer research
      center, we develop state-of-the-art modern technology to combat this drawback that takes people's life and
      give the cancer patient an opportunity to live hale and hearty once again.</p>

    <div class="about-w3lsrow">

      <div class="col-md-6 w3about-img">
        <img src="{{ url_for('static', filename='images/about.jpg') }}" alt=" " class="img-responsive">
      </div>
      <div class="col-md-6 col-sm-7 w3about-img">
        <div class="w3about-text">
          <h5 class="w3l-subtitle">We Care About Your Health</h5>
          <p>We care about providing perfect health for everyone to enjoy. Our research and services revolves around
            this single goal.</p>
          <p>The importance of good health cannot be overemphasized. Therefore, we have the best experts in Medicine and
            Technology. We believe that with these two fields working together, we can produce
            the perfect solution for everyone to live in peace and harmony.</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- /about-bottom -->