<!-- footer -->
<div class="footer">
  <div class="container">
    <h4>Subscribe to <span>Newsletter</span></h4>
    <form action="{{ url_for('newsletter_form') }}" method="post">
      <input type="email" name="Email" placeholder="Enter Your Email..." required="">
      <input type="submit" value="Send">
    </form>

    <div class="agile_footer_copy">
      <div class="w3agile_footer_grids">
        <div class="col-md-4 w3agile_footer_grid">
          <h3>About Us</h3>
          <p>The importance of good health cannot be overemphasized.
            <span>Therefore, we have the best experts in Medicine and
              Technology.</span></p>
        </div>
        <div class="col-md-4 w3agile_footer_grid">
          <h3>Contact Info</h3>
          <ul>
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>Rufus Giwa Poly. <span>Owo, Nigeria.</span>
            </li>
            <li>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <a href="mailto:research@cancer.com">research@cancer.com</a></li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>(+234) 814 120 5245</li>
          </ul>
        </div>
        <div class="col-md-4 w3agile_footer_grid w3agile_footer_grid1">
          <h3>Navigation</h3>
          <ul>
            <li>
              <span class="fa fa-long-arrow-right" aria-hidden="true"></span>
              <a href="{{ url_for('index') }}">Home</a>
            </li>
            <li>
              <span class="fa fa-long-arrow-right" aria-hidden="true"></span>
              <a href="{{ url_for('classification') }}">Classification</a></li>
            <li>
            <li>
              <span class="fa fa-long-arrow-right" aria-hidden="true"></span>
              <a href="{{ url_for('settings') }}">Settings</a></li>
            <li>
              <span class="fa fa-long-arrow-right" aria-hidden="true"></span>
              <a href="{{ url_for('about') }}">About</a></li>
            <li>
              <span class="fa fa-long-arrow-right" aria-hidden="true"></span>
              <a href="{{ url_for('contact') }}">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="w3_agileits_copy_right_social">
      <div class="col-md-6 agileits_w3layouts_copy_right">
        <p>&copy; 2018 Cancer Research. All rights reserved.</p>
      </div>
      <div class="col-md-6 w3_agile_copy_right">
        <ul class="agileits_social_list">
          <li><a href="http://facebook.com/victor.i.afolabi" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/victor_iyi" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#" class="w3_agile_rss"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //footer -->
<!-- Scroll to top -->
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

<!-- js -->
<script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/JiSlider.js') }}"></script>
<script>
  $(window).load(function () {
    $('#JiSlider').JiSlider({color: '#fff', start: 3, reverse: true}).addClass('ff')
  })
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();

</script>

<script src="{{ url_for('static', filename='js/ziehharmonika.js') }}"></script>
<script>
  $(document).ready(function () {
    $('.ziehharmonika').ziehharmonika({
      collapsible: true,
      prefix: ''
    });
  });
</script>
<!-- stats -->
<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.countup.js') }}"></script>
<script>
  $('.counter').countUp();
</script>
<!-- //stats -->
<script type="text/javascript">
  $(function () {
    $("#bars li .bar").each(function (key, bar) {
      var percentage = $(this).data('percentage');

      $(this).animate({
        'height': percentage + '%'
      }, 1000);
    })
  })
</script>

{%- include "_includes/_modal.html" %}

<!-- flexSlider -->
<script defer src="{{ url_for('static', filename='js/jquery.flexslider.js') }}"></script>
<script type="text/javascript">
  $(window).load(function () {
    $('.flexslider').flexslider({
      animation: "slide",
      start: function (slider) {
        $('body').removeClass('loading');
      }
    });
  });
</script>
<!-- //flexSlider -->


<!-- start-smooth-scrolling -->
<script type="text/javascript" src="{{ url_for('static', filename='js/move-top.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/easing.js') }}"></script>
<script type="text/javascript">
  jQuery(document).ready(function ($) {
    $(".scroll").click(function (event) {
      event.preventDefault();
      $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
    });
  });
</script>
<!-- //start-smooth-scrolling -->
<script src="{{ url_for('static', filename='js/jarallax.js') }}"></script>
<script src="{{ url_for('static', filename='js/SmoothScroll.min.js') }}"></script>
<script type="text/javascript">
  /* init Jarallax */
  $('.jarallax').jarallax({
    speed: 0.5,
    imgWidth: 1366,
    imgHeight: 768
  })
</script>

<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
  $(document).ready(function () {
    /*
      var defaults = {
      containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear'
      };
    */

    $().UItoTop({easingType: 'easeOutQuart'});

  });
</script>
<!-- //here ends scrolling icon -->
</body>
</html>