<!DOCTYPE html>
<!--
  @author Victor I. Afolabi
  A.I. engineer/researcher & Software engineer
  javafolabi@gmail.com

 Created on 13 January, 2018 @ 10:45 AM.

 Copyright © 2018. Victor. All rights reserved.
-->
<html lang="en">
<head>
  <title>{{ title }} &bull; Breast Cancer Classification</title>
  <!-- for-meta-tags-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords" content="Breast cancer classification. Rufus Giwa Polytechnic 2017/2018 final year project."/>
  <!-- //for-meta-tags-->

  <script type="application/x-javascript"> addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
  }, false);

  function hideURLbar() {
    window.scrollTo(0, 1);
  } </script>

  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" media="all">
  <link href="{{ url_for('static', filename='css/flexslider.css') }}" rel="stylesheet" media="screen">
  <link href="{{ url_for('static', filename='css/services.css') }}" rel="stylesheet" media="all">
  <link href="{{ url_for('static', filename='css/ziehharmonika.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/JiSlider.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="all">
  <!-- font-awesome icons -->
  <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
  <!-- //font-awesome icons -->
  <!-- google-fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,
    800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet">
  <!-- //google-fonts -->
</head>

<body>
<div class="main" id="home">
  <!-- Top header -->
  <div class="header_agileinfo">
    <!-- Addresses -->
    <div class="w3_agileits_header_text">
      <ul class="top_agile_w3l_info_icons">
        <li>
          <i class="fa fa-home" aria-hidden="true"></i>Rufus Giwa Poly. <span>Owo, Nigeria</span>
        </li>
        <li class="second">
          <i class="fa fa-phone" aria-hidden="true"></i>(+234) 814 120 5245
        </li>
        <li>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <a href="mailto:research@cancer.com">research@cancer.com</a>
        </li>
      </ul>

    </div>
    <!-- Social icons -->
    <div class="agileinfo_social_icons">
      <ul class="agileits_social_list">
        <li>
          <a href="#" class="w3_agile_facebook">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#" class="agile_twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#" class="w3_agile_rss">
            <i class="fa fa-rss" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- Nav bar -->
  <div class="header-bottom">
    {%- include '_includes/_nav.html' %}
  </div>

</div>