<!-- banner -->
<div class="banner-slider">
  <div id="JiSlider" class="jislider">
    <ul>
      <li>
        <div class="w3layouts-banner-top">
          <div class="container">
            <div class="agileits-banner-info">
              <span>Cancer Research</span>
              <h3>Breast Cancer</h3>
              <p>We use state-of-the-art machine models that has been battle tested to predict what kind of breast
                cancer a patient has.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="w3layouts-banner-top w3layouts-banner-top1">
          <div class="container">
            <div class="agileits-banner-info">
              <span>Modern medicine using</span>
              <h3>Machine Learning</h3>
              <p>We use modern technology including Machine learning to aid our experts work faster and more
                efficiently.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="w3layouts-banner-top w3layouts-banner-top2">
          <div class="container">
            <div class="agileits-banner-info">
              <span>state-of-the-arts</span>
              <h3>Results</h3>
              <p>Our state-of-the-art technologies and top experts in the field produces accurate results relatively
                quickly.</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- //banner -->