{% with title=self.title() -%}
  {%- include '_includes/_header.html' %}
{%- endwith %}

<!-- banner -->
<div class="banner1 jarallax">
  <div class="container">
  </div>
</div>

<div class="services-breadcrumb">
  <div class="container">
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a><i>|</i></li>
      <li>{{ self.title() }}</li>
    </ul>
  </div>
</div>
<!-- /banner -->

{% block body -%}
  <!-- {{ self.title()|lower|replace(' ', '-') }} -->
  <div class="banner-bottom" id="about">
    <div class="container">
      <h2 class="w3_heade_tittle_agile">{{ self.title()|title }}</h2>
      <p class="sub_t_agileits">{% block description -%}{%- endblock %}</p>

      {%- include '_includes/_flash_msg.html' %}

      {% block content -%}
      {%- endblock content %}

    </div>
  </div>
  <!-- /{{ self.title()|lower|replace(' ', '-') }} -->
{%- endblock body %}

{%- include '_includes/_footer.html' %}