{% extends 'layouts/generic.html' %}
{% block title %}Appointment{% endblock %}
{% block body %}

  <!-- appointment -->
  <div class="banner-bottom" id="about">
    <div class="container">
      <h2 class="w3_heade_tittle_agile">Appointment</h2>
      <p class="sub_t_agileits">See an experts</p>

      <!-- Appointment form -->
      <div class="book-appointment">
        <h4>Make an appointment</h4>
        {%- include "_includes/_flash_msg.html" %}
        <form action="{{ url_for('appointment_form') }}" method="post">
          <!-- Left form elements -->
          <div class="left-agileits-w3layouts same">
            <div class="gaps">
              <p>Patient Name</p>
              <input type="text" name="name" placeholder="" required/>
            </div>
            <div class="gaps">
              <p>Phone Number</p>
              <input type="text" name="number" placeholder="" required/>
            </div>
            <div class="gaps">
              <p>Email</p>
              <input type="email" name="email" placeholder="" required/>
            </div>
          </div>
          <!-- Right form elements -->
          <div class="right-agileinfo same">
            <div class="gaps">
              <p>Select Date</p>
              <input id="datepicker1" name="date" type="text" value=""
                     onfocus="this.value = '';" title=""
                     onblur="if (this.value === '') {this.value = 'mm/dd/yyyy';}"
                     required>
            </div>
            <div class="gaps">
              <p>Gender</p>
              <select class="option" name="gender" title="">
                <option hidden></option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
            <div class="gaps">
              <p>Time</p>
              <input type="text" id="timepicker" name="time" class="timepicker option" value="" title="">
            </div>
          </div>
          <div class="clearfix"></div>
          <input type="submit" value="Make an Appointment">
        </form>
      </div>
    </div>
  </div>
  <!-- appointment -->

{% endblock %}
