{%- extends 'layouts/generic.html' %}

{% block title -%}Classification{%- endblock %}

{% block description -%}Which kind of breast cancer do you have?{%- endblock %}

{% block content -%}
  <div class="classification">

    <!-- Prediction form -->
    <h4>Doctor's Diagnostic Report</h4>
    <form action="{{ url_for('classification_form') }}" method="get" id="prediction-form">
      <div class="alert alert-danger form-error" role="alert">
        <p class="error"></p>
      </div>
      <!-- Left form elements -->
      <div class="left-agileits-w3layouts same">
        <div class="gaps">
          <p>Algorithm</p>
          <select name="algorithm" class="form-control" id="models">
            <option value="" hidden></option>
            {% for model in models -%}
            <option value="{{ model }}">{{ model }}</option>
            {%- endfor %}
          </select>
        </div>
        <div class="gaps">
          <p>Clump Thickness</p>
          <input type="number" name="clump_thickness" placeholder="" step="1" min="1" max="10" required/>
        </div>
        <div class="gaps">
          <p>Uniformity of Cell Size</p>
          <input type="number" name="uniformity_of_cell_size" placeholder="" step="1" min="1" max="10" required/>
        </div>
        <div class="gaps">
          <p>Uniformity of Cell Shape</p>
          <input type="number" name="uniformity_of_cell_shape" placeholder="" step="1" min="1" max="10" required/>
        </div>
        <div class="gaps">
          <p>Marginal Adhesion</p>
          <input type="number" name="marginal_adhesion" placeholder="" step="1" min="1" max="10" required/>
        </div>
      </div>
      <!-- Right form elements -->
      <div class="right-agileinfo same">
        <div class="gaps">
          <p>Single Epithelial Cell Size</p>
          <input type="number" name="single_epithelial_cell_size" placeholder="" step="1" min="1" max="10"
                 required/>
        </div>
        <div class="gaps">
          <p>Bare Nuclei</p>
          <input type="number" name="bare_nuclei" placeholder="" step="1" min="1" max="10" required/>
        </div>
        <div class="gaps">
          <p>Bland Chromatin</p>
          <input type="number" name="bland_chromatin" placeholder="" step="1" min="1" max="10" required/>
        </div>
        <div class="gaps">
          <p>Normal nucleoli</p>
          <input type="number" name="normal_nucleoli" placeholder="" step="1" min="1" max="10" required/>
        </div>
        <div class="gaps">
          <p>Mitoses</p>
          <input type="number" name="mitoses" placeholder="" step="1" min="1" max="10" required/>
        </div>
      </div>
      
      <div class="clearfix"></div>
    
      <input type="submit" value="Predict" id="predict"/>

    </form>

  </div>
{%- endblock %}
