{%- extends 'layouts/generic.html' %}

{% block title -%}Contact{%- endblock %}
{% block description -%}Get in touch...{%- endblock %}

{% block content -%}
  <div class="contact-top-agileits">
    <div class="col-md-4 contact-grid ">
      <div class="contact-grid1 agileits-w3layouts">
        <i class="fa fa-location-arrow"></i>
        <div class="con-w3l-info">
          <h4>Address </h4>
          <p>C21, Planet NEST Road. <span>Oba Ile, Nigeria</span></p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-4 contact-grid">
      <div class="contact-grid2 w3">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <div class="con-w3l-info">
          <h4>Call Us</h4>
          <p><span>(+234) 814 120 5245</span></p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-4 contact-grid">
      <div class="contact-grid3 w3l">
        <i class="fa fa-envelope"></i>
        <div class="con-w3l-info">
          <h4>Email</h4>
          <p><a href="mailto:research@cancer.co.uk">research@cancer.co.uk</a>

          </p></div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="contact-form-aits">
    <!-- Contact form -->
    <form action="{{ url_for('contact_form') }}" method="post">
      <input type="text" class="margin-right" name="name" placeholder="Name" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="text" class="margin-right" name="number" placeholder="Phone Number" required>
      <input type="text" name="subject" placeholder="Subject" required>
      <textarea name="message" placeholder="Message" required></textarea>
      <div class="send-button agileits w3layouts">
        <button type="submit" class="btn btn-primary">SEND MESSAGE</button>
      </div>
    </form>
    <!-- Social icons -->
    <ul class="agileits_social_list two">
      <li class="fallow"> Follow Us :</li>
      <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="#" class="w3_agile_rss"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
    </ul>
  </div>

  <!-- Resident map -->
  <div class="map_agile">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8859.379865399576!2d5.241604213601657!3d7.261384003956682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104790402cdf2437%3A0x5c4cef95a9498040!2sPlanet+Nest+Road%2C+Oba+Ile%2C+Nigeria!5e0!3m2!1sen!2sus!4v1544390601296"
      width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
{%- endblock %}
