{% extends 'layouts/main.html' %}

{% block title %}Home{% endblock %}

{% block body %}

  {% include '_includes/_about.html' %}

  <!-- services-bottom -->
  <div class="services-bottom">
    <div class="col-md-5 wthree_services_bottom_right">
      <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="w3_agile_services_bottom_right_grid">
                <p class="w3layouts_head_slide">Cancer <span>Research</span></p>
              </div>
            </li>
            <li>
              <div class="w3_agile_services_bottom_right_grid1">
                <p class="w3layouts_head_slide">Hospital <span> Departments</span></p>
              </div>
            </li>
            <li>
              <div class="w3_agile_services_bottom_right_grid2">
                <p class="w3layouts_head_slide">Cancer <span>Research</span></p>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>

    <div class="col-md-7 wthree_services_bottom_left">
      <div class="wthree_services_bottom_left_grid">
        <div class="col-md-6 w3_agileits_services_bottom_l_grid">
          <div class="agile_services_bottom_l_grid1">
            <img src="{{ url_for('static', filename='images/g4.jpg') }}" alt=" " class="img-responsive"/>
            <div class="w3_service_bottom_grid_pos">
              <h3>Quality Care</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 w3_agileits_services_bottom_r_grid">
          <h4>Best Surgeons</h4>
          <p>Praesent vulputate ipsum a velit tempor convallis.
            Phasellus ultrices lorem eget erat tempus commodo efficitur odio.</p>

        </div>
        <div class="clearfix"></div>
      </div>
      <div class="wthree_services_bottom_left_grid">
        <div class="col-md-6 w3_agileits_services_bottom_r_grid">
          <h4>Latest Technologies</h4>
          <p>Praesent vulputate ipsum a velit tempor convallis.
            Phasellus ultrices lorem eget erat tempus commodo efficitur odio.</p>

        </div>
        <div class="col-md-6 w3_agileits_services_bottom_l_grid">
          <div class="agile_services_bottom_l_grid1">
            <img src="{{ url_for('static', filename='images/g2.jpg') }}" alt=" " class="img-responsive"/>
            <div class="w3_service_bottom_grid_pos">
              <h3>Quality Care</h3>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
  <!-- //services-bottom -->

{% endblock %}