{% extends 'layouts/main.html' %}

{% block title -%}Home{%- endblock %}

{% block body -%}
  {# Slider #}
  {%- include '_includes/_slider.html' %}

  {# About #}
  {%- include '_includes/_about.html' %}

  {# Advertisements/services #}
  <!-- services-bottom -->
  <div class="services-bottom">
    <div class="col-md-5 wthree_services_bottom_right">
      <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="w3_agile_services_bottom_right_grid">
                <p class="w3layouts_head_slide">Cancer <span>Research</span></p>
              </div>
            </li>
            <li>
              <div class="w3_agile_services_bottom_right_grid1">
                <p class="w3layouts_head_slide">Machine <span> Learning</span></p>
              </div>
            </li>
            <li>
              <div class="w3_agile_services_bottom_right_grid2">
                <p class="w3layouts_head_slide">Breast <span>Classification</span></p>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>

    <div class="col-md-7 wthree_services_bottom_left">
      <div class="wthree_services_bottom_left_grid">
        <div class="col-md-6 w3_agileits_services_bottom_l_grid">
          <div class="agile_services_bottom_l_grid1">
            <img src="{{ url_for('static', filename='images/slid-i1.jpg') }}" alt=" " class="img-responsive"/>
            <div class="w3_service_bottom_grid_pos">
              <h3>Accurate Services</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 w3_agileits_services_bottom_r_grid">
          <h4>Best Medical Research</h4>
          <p>
            With over 500+ PhDs and 250+ medical experts, we deliver the best result in Medical research
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="wthree_services_bottom_left_grid">
        <div class="col-md-6 w3_agileits_services_bottom_r_grid">
          <h4>Latest Technologies</h4>
          <p>We're dedicated in using state-of-the-art technology in helping patients like; amputees, deaf, blind,
            and others suffering from schizophrenia, paralysis and depression to feel alive again.</p>

        </div>
        <div class="col-md-6 w3_agileits_services_bottom_l_grid">
          <div class="agile_services_bottom_l_grid1">
            <img src="{{ url_for('static', filename='images/slid-i2.jpg') }}" alt=" " class="img-responsive"/>
            <div class="w3_service_bottom_grid_pos">
              <h3>Quality Care</h3>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
  <!-- //services-bottom -->

{%- endblock %}