{%- extends 'layouts/generic.html' %}

{% block title -%}Settings{%- endblock %}

{% block description -%}Update, Train &amp; Test models?{%- endblock %}

{% block content -%}
<!-- settings -->
<div class="about" id="about">
  <div class="container">
    <h2 class="w3_heade_tittle_agile">Machine learning Model Settings</h2>
    <p class="sub_t_agileits">Best in service</p>

    <div class="about-w3lsrow">      
      <!-- Right pane. -->
      <div class="panel panel-default metrics">
        <div class="panel-heading">
          <h3 class="panel-header">Model Metrics</h3>
        </div>
        
        
        <div class="panel-body">
          <!-- Settings form -->
          <div class="contact-form-aits col-md-6 settings">
            <form action="{{ url_for('settings_form') }}" method="post" id="settings-form">
              <div class="alert alert-danger form-error" role="alert">
                <p class="error">All fields are required</p>
              </div>
              <div class="gaps">
                <select name="algorithm" class="form-control" id="algorithm">
                  <option value="" hidden>Select Model</option>
                  {% for model in models -%}
                  <option value="{{ model }}">{{ model }}</option>
                  {%- endfor %}
                </select>
              </div>
              <div class="gaps">
                <select name="mode" class="form-control" id="mode">
                  <option value="" hidden>Select Mode</option>
                  <option value="train">Train</option>
                  <option value="test">Test</option>
                </select>
              </div>
              <!-- Submit buttons. -->
              <div class="agileits w3layouts" style="margin: 2em;">
                <button type="submit" class="btn btn-default btn-md">Train/Test Model</button>
              </div>
            </form>
          </div> 
          <!-- End Settings form -->
          <div class="col-md-6">  
            <!-- Metrics -->
            <ul class="list-group">
              <li class="list-group-item">
                <h4 class="card-title">
                 <span id="algorithm"></span>  accuracy is: 
                  <span class="label label-default" id="accuracy"></span>
                </h4>
              </li>
              <li class="list-group-item">
                <h5 class="text-muted">
                  No. of testing set: 
                  <span class="label label-default" id="test-samples"></span>
                </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-muted">
                  No. of training set: 
                  <span class="label label-default" id="train-samples"></span>
                </h5>
              </li>
            </ul>
            <!-- End metrics -->
          </div>
        </div>
      </div>
    
      <div class="clearfix"></div>

    </div>
  </div>
</div>
<!-- /settings-bottom -->
{%- endblock %}
